html{
  font-size: 10px;
}
body{
  margin: 0;
  position: relative;
}

/* HEADER */

.wrapper{
  max-width: 1020px;
  margin: auto;
  font-family: Lato, Arial,sans-serif;
  padding: 0 4rem;
}
.logo{
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFFFFF;
  margin: 2.9rem 0;
  cursor: pointer;
}
.symbol-logo{
  color: #F06C64;
}
.burger{
  display: none;
}
.burger-logo{
  display: none;
}
.navigation-menu{
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 4rem 0 3.3rem 0;
  width: 37.5rem;
}
.main-navigation-items{
  display: flex;
  justify-content: space-between;
}
.navigation-menu-items{
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
}
.navigation-menu-items:nth-child(1n + 2)::before{
  position: absolute;
  content: "·";
  left: -16px;
  top: 2px;
  color: #ffffff;
}
.navigation-menu-items:hover{
  color: #F06C64;
  cursor: pointer;
}
.navigation-menu-items-active{
  color: #F06C64;
}
.main-navigation{
  background-color: #2D303A;
  border-bottom: 0.6rem solid #323746 ;
  position: fixed;
  width: 100%;
  z-index: 50;
}
.navigation{
  max-height: 8.9rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

/* SLIDER */

.slider{
  background-color: #F06C64;
  padding-top: 89px;
}
.buttons{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-slider{
  position: relative;
  overflow: hidden;
}
.buttons-image:hover{
  transform: scale(1.2);
}
.buttons-image{
  cursor: pointer;
}
.phone-image{
  width: 100%;
}
.phone-image-blue{
  position: absolute;
  content: '';
  left: -150%;
  width: 100%;
  height: 100%;
  transition: .3s all;
}
.phone-image-blue-active{
  left:0%;
  transition: .3s all;
}
.phone-image-red{
  position: absolute;
  content: '';
  right:-150%;
  width: 100%;
  height: 100%;
  transition: .3s all;
}
.phone-image-red-active{
  position: absolute;
  content: '';
  right: 0;
  width: 100%;
  height: 100%;
  transition: .3s all;
}
.phone-image-active{
  width: 100%;
  height: 100%;
  position: relative;
  right:-150%;
  transition: .3s all;
}
.slider-active{
  background-color: #648BF0;
}

/* SERVICES */

.main-services{
  background-color: #F2F2F2;
  border-bottom: 6px solid #FFFFFF;
}
.heading{
  margin: 0;
  font-size: 3rem;
  color: #666D89;
  padding-top: 5.9rem;
}
.main-info{
  margin: 0;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767E9E;
  padding-top: 1.8rem ;
  text-align: justify;
  font-weight: 300;
}
.heading-services {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #666D89;
  margin: 0;
}  
.info-services{
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  color: #767E9E;
}
.services{
  display: flex;
  align-items: flex-start;
}
.image-services {
  margin-right: 20px;
}
.services-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;
  padding: 4.7rem 0 4.6rem 0;
}

/* Portfolio */

.main-portfolio{
  background-color: #2D303A;
  border-bottom: 6px solid #323746;
}
.portfolio-image{
  width: 100%;
}
.navigation-portfolio{
  display: flex;
  font-size: 1.2rem;
  line-height: 1.2rem;
  width: max-content;
  cursor: pointer;
  list-style-type: none;
  padding: 0;
  margin: 17px 0 23px 0;
}
.navigation-items{
  border: 1px solid #767E9E;
  border-radius: 5px;
  margin-right : 11px;
  padding: 5px;
  color: #767E9E;
}
.first-navigation-items{
  border-color: #ffffff;
  color: #ffffff;
}
.navigation-items:last-child{
  margin-right: 0;
}
.main-portfolio-image{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;   
  padding-bottom: 7.3rem; 
}
.portfolio-image:nth-child(1n + 13) {
  display: none;
}
.potrfolio-image-active{
  order: +1;
}
.navigation-items-active{
  border-color: #ffffff;
  color: #F2F2F2;
}

/* Footer */

.copyright{
  font-weight: 900;
  font-size: 1.3rem;
  color: #666D89;
  margin: 30px 0 28px 0;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer{
  background-color: #2D303A;
}
.links{
  margin-right: 8px;
}
.links:hover{
  cursor: pointer;
}
@media (max-width:1020px){
  .main-portfolio-image{
    grid-template-columns: repeat(3,1fr);
  }
  .services-wrapper{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:767px){
  .main-navigation{
    height: 60px;
  }
  .navigation-menu-items::before{
    display: none;
  }
  .navigation{
   justify-content: center;
  }
  .logo{
    padding: 0;
    margin: 18px 0;
  }
  .logo-active{
    color: #2d303a;
    transition: .3s all;
  }
  .symbol-logo-active{
    color: #2d303a;
    transition: .3s all;
  }
  .burger-logo{
    display: block;
    position: absolute;
    top: 27px;
    margin: 0;   
  }
  .burger{
    display: block;
    position: absolute;
    top: 13px;
    left: 10px;
    margin: 1rem 0 0 2rem;
  }
  .burger-menu-button{
    position: fixed;
    z-index: 30;
    height: 20px;
    width: 50px;
  }
  .burger-line{
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: white;
    top: 10px;
    transition: .5s all;
  }
  .burger-line::before,
  .burger-line::after{
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    background-color: white;
  }
  .burger-line::before{
    top:8px;
  }
  .burger-line::after{
    bottom:9px;
  }
  .burger-menu-button {
    filter: brightness(0.9);
    cursor: pointer;
  }
  .burger-line-active{    
    transform: rotate(90deg);
    transition: 1s all;
  }
  .navigation-menu{
    position: fixed;
    z-index: 20;
    display: flex;
    height: 100%;
    background-color: #2D303A;
    transform: translateX(-100%);
    justify-content: center;
    align-items: center;
    left: -300px;
    padding: 0;
    width: 278px;
    transition: .3s;
  }
  .main-navigation-items{
    flex-flow: column;
  }
  .active{
    transform: translateX(300px);
    box-shadow: 0 0 18px 22px rgba(0, 0, 0, 0.8);
    transition: .3s;
  }
  .navigation-menu-items{
    font-size: 24px;
    line-height: 29px;
    padding: 0 0 27px 15px;
  }
  .navigation-menu-items:last-child{
    padding-bottom: 3rem;
  }
  .services-wrapper{
    grid-template-columns: 1fr;
    padding: 4.7rem 0 4.6rem 0;
  }
  .main-portfolio-image{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;   
    padding-bottom: 7.3rem; 
  }
  .portfolio-image{
    width: 100%;
  }
  .portfolio-image:nth-child(1n + 9) {
    display: none;
  }
  .copyright{
    display: none;
  }
  .footer{
    justify-content: center;
  }
  .main-links{
    padding: 22px 0;
  }
  .opacity-active{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
    background-color: black;
    transition: 0.3s all;
  }
}
@media (max-width:375px){
  .navigation-items{
    font-size: 0.9rem;
  }
}
